<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>my web page</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
    <body>
        <form action="/submit">
            <input type = "image" src = "gif/bulb<%=checked%>.gif">
            <input type="textarea" hidden name="cmd" value="<%=checked%>">
        </form>
    </body>